.room {
  stroke-linejoin: round;
  transition: 0.1s;
  // stroke: #242446;
  // stroke-linecap: round;
  // stroke-linejoin: round;
  // stroke-width: 12px;

  &.clickable {
    // stroke: none;
    fill: #c9ebff;
    cursor: pointer;
  }
  &.active {
    fill: #ffd586;
    // stroke: none;
  }
}

.svg-map {
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

// Reference from SVG Maps
.background {
  fill: #cfcfde;
}
.floor {
  fill: #fcfcfc;
}
.room {
  fill: #a0a0b4;
}
.stairs {
  fill: #ecabd3;
}
.wall {
  fill: none;
  stroke: #242446;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 12px;
}
