body {
  margin: 0;
}

svg {
  path {
    cursor: pointer;
    transition: 0.1s;
    fill: rgba(255, 166, 0, 0.205);
    stroke: rgba(255, 166, 0, 0.5);
    stroke-width: 5px;

    &:hover {
      fill: rgba(255, 166, 0, 0.4);
      stroke: rgba(255, 166, 0, 0.7);
    }
  }
}
