.header {
  $margin: 1rem;

  position: fixed;
  top: $margin;
  left: $margin;
  box-sizing: border-box;
  background: #fefcff;
  width: calc(100vw - #{$margin * 2});
  padding: 0.5rem;
  border-radius: 1.5rem;
  box-shadow: 0 1rem 3rem -1rem #00000050;

  z-index: 10;

  @media (min-width: 1024px) {
    width: 30rem;
  }
}
